body {
    background-color: transparent;
}

/*################################# CONTACT-CSS-START ##################################*/
section.contact-section {
    padding: 120px 0 95px 0;
}
section.contact-section .contact-head h2 {
    font-size: 48px;
    font-family: "Anton", sans-serif;
    margin-bottom: 48px;
}
section.contact-section .contact-head p {
    text-align: justify;
}
section.contact-section form.contact-form .contact-form-fields input {
    color: #000;
    height: 43px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 32px;
    border: none;
    background-color: #EBEBEB;
}
section.contact-section form.contact-form .contact-form-fields textarea {
    color: #000;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 32px;
    border: none;
    background-color: #EBEBEB;
}
section.contact-section form.contact-form .contact-form-fields input::placeholder, 
section.contact-section form.contact-form .contact-form-fields textarea::placeholder {
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    color: #5D5D5D;
    letter-spacing: 2px;
}
section.contact-section form.contact-form .contact-form-fields input:focus, 
section.contact-section form.contact-form .contact-form-fields textarea:focus,
section.contact-section form.contact-form .contact-btn button:focus {
    box-shadow: none;
}
section.contact-section form.contact-form .contact-btn button {
    color: #EBEBEB;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    padding: 5px 68px;
    letter-spacing: 2px;
    border-radius: 20px;
    /* border-color: #1c64f200;
    background: transparent; */
    background-clip: padding-box, border-box;
    background-origin: border-box;
    /* border: 1px solid transparent; */
    transition: .4s;
}
section.contact-section form.contact-form .contact-btn button:hover {
    box-shadow: 2px 2px 10px 0px rgba(235, 235, 235, 0.25);
}
section.contact-section form.contact-form .contact-btn button:focus {
    box-shadow: 2px 2px 10px 0px rgba(235, 235, 235, 0.25) inset;
}

@media (min-width: 320px) and (max-width: 767px) {
    section.contact-section {padding: 66px 0 64px 0;}
    section.contact-section .contact-head {margin-bottom: 24px;}
    section.contact-section .contact-head h2 {font-size: 32px; margin-bottom: 24px;}
    section.contact-section .contact-head p {font-size: 14px;}
    section.contact-section form.contact-form .contact-form-fields input {font-size: 14px; height: 33px; margin-bottom: 16px;}
    section.contact-section form.contact-form .contact-form-fields textarea {font-size: 14px; margin-bottom: 24px;}
    section.contact-section form.contact-form .contact-form-fields input::placeholder, 
    section.contact-section form.contact-form .contact-form-fields textarea::placeholder {
        font-size: 14px;
    }
    section.contact-section form.contact-form .contact-btn button {font-size: 14px; width: 100%;}
}
@media (min-width: 768px) and (max-width: 991px) {
    section.contact-section {padding: 88px 0 96px 0;}
    section.contact-section .contact-head h2 {font-size: 40px;}
    section.contact-section .contact-head p {font-size: 14px;}
    section.contact-section .contact-head {margin-bottom: 30px;}
    section.contact-section form.contact-form .contact-btn button {font-size: 14px;}
}
/*################################# CONTACT-CSS-END ##################################*/
